@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
    max-width: 3577px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif ;
    margin: 0;
    color: #ffffff;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
    margin: 0;
}

.wrp{
  
  min-height: 1800px;
  width: 100%;
  background-color: rgb(0, 0, 125);
  position: relative;
  display: block;
  z-index: 0;
}

.wrp:after{
  content: "";
  position: absolute;
  background-image: url("../Img/background_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}



.book_header {
width: 100%;
 
}

.container{
  display: flex;
  padding-top:8.75rem;
  padding-bottom:8.75em;
  margin: 0 18.75em;;
  justify-content: space-between;

}
.header-logo{
width: 25em;
}

.menu-list {
  font-weight: 300;
  font-size: 3.5em;
  display: flex;
  justify-content: space-between;
  gap: 1.9em;
}
 
.search {
  margin-top: 0.2em;
  height: 1em;
  width: 10em;
  /* display: flex; */
  position: relative;

}

.sidebar-search {
  position: absolute;
  box-sizing: border-box;
  padding-left: 60px;
  width: 100%;
  height: 1.2em;
  border: 3px solid #ffffff;
  background-color: transparent;
  outline: 0;
  font-weight: 300;
  font-size: 1em;
  color: #ffffff;
}

.search-button {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color:transparent;
  /* z-index: 1; */

}

.main_form {
  display: flex;
  justify-content:  space-between;
}

.article{
  width: 60%;
}
.title{
  padding-left: 5%;
  display: block;
  position: relative;
}
.main_title{
  font-weight: 400;
  font-size: 10rem;
}
.slogan {
  margin-top: -4%;
  font-weight: 300;
  font-size: 5rem;
}
.title:before {
  content: "";
  display: block;
  position:absolute;
  width: 20px;
  height: 300px;
  background: #ff6721;

  margin-top: 2rem;
  margin-left: -4rem;

}

.main_text {
  font-weight: 300;
  font-size: 2rem;
  width: 75.5rem;
  padding-left: 5%;
}

.article_image{
  
  position: relative;
  
}

.graf_dna {
  position: absolute;
  margin-top: 7rem;
  margin-left: -10%;
background-image: url("../Img/");
  background-color: #492ba7;
  width: 50%;
  height: 100px;

}

.cross{
  position: absolute;
  height: 25rem;
  margin-top: 10rem;
  margin-left: 55%;
}

.data__form{

width: 50%;
height: 50rem;
border: 5px solid #ffffff;
background: #ff6721;
}